<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.messaging.theme.black"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay 
        android:targetPackage="com.google.android.apps.messaging" 
        android:priority="1"/>

    <application 
        android:label="@string/messaging_black_theme" 
        android:hasCode="false"/>
</manifest>